.input-container {
  position: relative;

  label {
    margin-bottom: 16px;
    display: block;
    font-size: 1.6rem;
  }

  &__wrapper {
    display: flex;
    background-color: var(--container);
    border-radius: 8px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    outline: 1px solid var(--border);
    gap: 8px;

    input {
      background: none;
      outline: none;
      border: none;
      color: var(--text);
      font-size: 1.6rem;
      flex: 1;
    }

    input::placeholder {
      opacity: 0.3;
    }
  }

  &__color-picker {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 100px;
    transform: translateX(-35%);
  }
}

.input-container + .input-container {
  margin-top: 24px;
}
