@font-face {
  font-family: 'KyivTypeSansMedium';
  src: url('../assets/fonts/KyivType-Sans-Medium-.otf') format('truetype');
}

@font-face {
  font-family: 'KyivTypeSansMedium3';
  src: url('../assets/fonts/KyivType-Sans-Medium3.otf') format('truetype');
}

html {
  font-size: 62.5% !important;
}

body {
  color: var(--title);
  background-color: var(--background);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important;
  position: relative;
}

* {
  font-family: 'Montserrat', sans-serif;
}
