.modal {
  width: 640px;
  height: 60vh;
  position: fixed;
  background-color: rgba(var(--container-rgb), 0.5);
  backdrop-filter: blur(10px) saturate(200%);
  border: 1px solid var(--border);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 24px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  transition: transform 1s;
  transform: translateY(60vh);

  &__header {
    margin-bottom: 32px;

    &__title {
      font-size: 3.2rem;
      font-weight: 600;
      color: var(--title);
    }

    &__description {
      font-size: 1.6rem;
      font-weight: 400;
      color: var(--text);
    }
  }

  &.--visible {
    transform: translateY(0);
    bottom: 0;
  }
}

.background-shadow {
  position: absolute;
  inset: 0;
  background: rgba(var(--background-rgb), 0.4);
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s;

  &.--visible {
    opacity: 1;
    transform: scale(1);
    backdrop-filter: blur(1px);
  }
}
